<!doctype html>
<html lang="eng">
<head>
<meta charset="utf-8" />
<title><%= title %></title>
</head>
<body>

<%- include('partials/header') -%>

<h1>Articles</h1>

<% for(let article in articles) { %>
    <div class="article-box">
        <p>article.title</p>
        <p>article.body</p>
        <button>Update</button>
        <button>Delete</button>
    </div>
<% } %>

</body>
</html>