<nav>
    <a href="/">Home</a>
    <a href="/login">Login</a>
    <a href="/create">Create profile</a>
    <a href="/public">Public</a>
    <a href="/logout">Logout</a>
    <a href="/private">Private</a>
</nav>