* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    background-color: rgb(155, 107, 18);
}

nav > a {
    display: inline-flex;
    margin: 0;
    padding: 15px 35px;
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    transition: color ease-in-out 600ms;
}

nav > a:hover {
    color: #000;
}

h1 {
    color: rgb(155, 107, 18);
    margin-top: 50px;
}

img {
    margin-top: 50px;
    width: 500px;
}