<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Document</title>
</head>
<body>

    <h1>WebSocket tutorial</h1>

    <input type="text" id="text" />
    <button id="btn">Send</button>
    <div id="messages">

    </div>

    <script src="/script/script.js"></script>
</body>
</html>