<!doctype html>
<html lang="eng">
<head>
<meta charset="utf-8" />
<title><%= title %></title>
</head>
<body>

<h1><%= title %></h1>

<form id="myForm" method="post" enctype="multipart/form-data">
    <input type="file" id="myFile" />
    <button id="btn">Upload</button>
</form>


<p></p>
<span></span>

<script src="js/index.js"></script>

</body>
</html>