* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: rgb(18, 106, 146);
}

nav > a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    text-decoration: none;
    color: #ffffff;
}

h1 {
    color:rgb(18, 106, 146);
    margin-top: 20px;
}

img {
    width: 400px;
    margin: 20px;
}

footer {
    margin-top: 20px;
}